@{
    ViewData["Title"] = "No Games In Library";
}

<div class="text-center">
    <h2>Your Library is Empty</h2>
    <p>Your Library is currently empty. Start adding some games to your Library!</p>
    <a href="/Games/Index" class="btn btn-primary">Browse Games</a>
</div>
