@model IEnumerable<GameForge.Models.Library>

<h2>Downloaded Games</h2>

<table class="table">
    <thead>
        <tr>
            <th>Game Name</th>
            <th>Download Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var library in Model)
        {
            <tr>
                <td>@library.game?.Title</td>
                <td>@library.LibraryCreationDate.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
