@{
    ViewData["Title"] = "Empty Wishlist";
}

<div class="text-center">
    <h2>Your WishList is Empty</h2>
    <p>Your WishList is currently empty. Start adding some games to your WishList!</p>
    <a href="/Games/Index" class="btn btn-primary">Browse Games</a>
</div>
