@model GameForge.Models.WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

<h2>WishList</h2>
@if (Model.Wishlist.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Addition Date</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Wishlist)
            {
                <tr>
                    <td>@item.game.Title</td>
                    <td>@item.WishlistAdditionDate</td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveGame", "Wishlist")">
                            <input type="hidden" name="wishlistId" value="@item.WishlistID" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your cart is empty.</p>
}
