@{
    ViewData["Title"] = "No Featured Game";
}

<div class="text-center">
    <h2>There is no featured Game</h2>
    <p>Start Featuring some games </p>
    <a href="/Games/Index" class="btn btn-primary">Browse Games</a>
</div>
