@{
    ViewData["Title"] = "No Games In Trend";
}

<div class="text-center">
    <h2><Noframes> games is trending</Noframes></h2>
    <p>Keep looking for games adding give reviews to make trend</p>
    <a href="/Games/Index" class="btn btn-primary">Browse Games</a>
</div>
