@{
    ViewData["Title"] = "Forums";
}

<div class="text-center">
    <h1>
        Welcome To Forums
    </h1>
    <div id="popular-threads">
        
    </div>
    <div id="popular-questions">

    </div>
</div>