@model GameForge.Models.ThreadTopic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>ThreadTopic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThreadTopicID" class="control-label"></label>
                <input asp-for="ThreadTopicID" class="form-control" />
                <span asp-validation-for="ThreadTopicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestReplyID" class="control-label"></label>
                <input asp-for="LatestReplyID" class="form-control" />
                <span asp-validation-for="LatestReplyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestReplyTime" class="control-label"></label>
                <input asp-for="LatestReplyTime" class="form-control" />
                <span asp-validation-for="LatestReplyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfReplies" class="control-label"></label>
                <input asp-for="NumberOfReplies" class="form-control" />
                <span asp-validation-for="NumberOfReplies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
